{{define "countBound"}}&validation.CountBound{
	Value: {{printf "%q" .Value}},
	ExactValue: jsonvalue.Number{Lexeme: {{printf "%q" .ExactValue.Lexeme}}},
}{{end}}

{{define "numberBound"}}&validation.NumberBound{
	Value: {{printf "%q" .Value}},
	{{if .Exclusive}}Exclusive: true,{{end}}
	ExactValue: jsonvalue.Number{Lexeme: {{printf "%q" .ExactValue.Lexeme}}},
}{{end}}

{{define "numberValidation"}}validation.NumberValidation{
	{{with .Minimum}}Minimum: {{template "numberBound" .}},{{end}}
	{{with .Maximum}}Maximum: {{template "numberBound" .}},{{end}}
	{{if .ExactMultipleOf}}
	MultipleOf: {{printf "%q" .MultipleOf}},
	ExactMultipleOf: &jsonvalue.Number{Lexeme: {{printf "%q" .ExactMultipleOf.Lexeme}}},
	{{end}}
	{{with .Format}}Format: {{printf "%q" .}},{{end}}
}{{end}}

{{define "stringValidation"}}validation.StringValidation{
{{- $emitted := false}}
{{- with .MinLength}}
	MinLength: {{template "countBound" .}},{{- $emitted = true}}{{- end}}
{{- with .MaxLength}}{{if $emitted}}
{{end}}
	MaxLength: {{template "countBound" .}},{{- $emitted = true}}{{- end}}
{{- with .Pattern}}{{if $emitted}}
{{end}}
	Pattern: {{printf "%q" .}},{{- $emitted = true}}{{- end}}
{{- with .Format}}{{if $emitted}}
{{end}}
	Format: {{printf "%q" .}},{{- $emitted = true}}{{- end}}
{{- if .CompiledPattern}}{{if $emitted}}
{{end}}
	CompiledPattern: patternvalidator.MustParse(
		{{printf "%q" .Pattern}},
		{{if .CompiledPattern.RejectsNonASCII}}patternvalidator.RejectNonASCII,{{end}}
		{{if .CompiledPattern.UsesRE2}}patternvalidator.UseRE2,{{end}}
	),{{- $emitted = true}}{{- end}}
{{- if .CompiledFormat}}{{if $emitted}}
{{end}}
	CompiledFormat: validation.MustCompileStringFormat({{printf "%q" .Format}}),{{- end}}
}{{end}}

{{define "arrayValidation"}}validation.ArrayValidation{
{{- with .MinItems}}
	MinItems: {{template "countBound" .}},{{- end}}
{{- with .MaxItems}}
	MaxItems: {{template "countBound" .}},{{- end}}
{{- with .Items}}
	Items: {{template "validation" .}},{{- end}}
}{{end}}

{{define "objectValidation"}}validation.ObjectValidation{
{{- $emitted := false}}
{{- with .MinProperties}}
	MinProperties: {{template "countBound" .}},{{- $emitted = true}}{{- end}}
{{- with .MaxProperties}}
	MaxProperties: {{template "countBound" .}},{{- $emitted = true}}{{- end}}
{{- with .Required}}{{if $emitted}}
{{end}}
	Required: []string{ {{range .}}{{printf "%q" .}},{{end}} },
	{{- $emitted = true}}{{- end}}
{{- with .Properties}}{{if $emitted}}
{{end}}
	Properties: []validation.PropertyValidation{
		{{range .}}{
			Name: {{printf "%q" .Name}},
			Validation: {{template "validation" .Validation}},
		},{{end}}
	},
	{{- $emitted = true}}{{- end}}
{{- if .AdditionalPropertiesAllowed}}{{if $emitted}}
{{end}}
	AdditionalPropertiesAllowed: true,
	{{- $emitted = true}}{{- end}}
{{- with .AdditionalPropertiesValidation}}{{if $emitted}}
{{end}}
	AdditionalPropertiesValidation: {{template "validation" .}},
{{- end}}
}{{end}}

{{define "jsonKind" -}}
{{- if eq . 1}}jsonvalue.KindBoolean
{{- else if eq . 2}}jsonvalue.KindNumber
{{- else if eq . 3}}jsonvalue.KindString
{{- else if eq . 4}}jsonvalue.KindArray
{{- else if eq . 5}}jsonvalue.KindObject
{{- else}}jsonvalue.KindNull
{{- end}}
{{- end}}

{{define "jsonValue"}}jsonvalue.Value{
	{{if ne .Kind 0}}Kind: {{template "jsonKind" .Kind}},{{end}}
	{{if .Boolean}}Boolean: true,{{end}}
	{{with .Number.Lexeme}}Number: jsonvalue.Number{Lexeme: {{printf "%q" .}}},{{end}}
	{{with .String}}String: {{printf "%q" .}},{{end}}
	{{if eq .Kind 4}}
	Array: []jsonvalue.Value{ {{range .Array}}{{template "jsonValue" .}},{{end}} },
	{{end}}
	{{if eq .Kind 5}}
	Object: []jsonvalue.Member{
		{{range .Object}}{
			Name: {{printf "%q" .Name}},
			Value: {{template "jsonValue" .Value}},
		},{{end}}
	},
	{{end}}
}{{end}}

{{define "enum"}}validation.EnumValidation{
	Values: []json.RawMessage{
		{{range .Values}}json.RawMessage({{printf "%q" .}}),{{end}}
	},
	ExactValues: []jsonvalue.Value{
		{{range .ExactValues}}{{template "jsonValue" .}},{{end}}
	},
}{{end}}

{{define "validation"}}compiled[{{validationID .}}]{{end}}

{{define "rootValidation"}}generatedValidations[{{validationID .}}]{{end}}

{{define "validationFields" -}}
	SchemaPointer: {{printf "%q" .SchemaPointer}},
	{{if .BodyRequired}}BodyRequired: true,{{end}}

	{{if or .KindValidation.Type .KindValidation.Nullable}}
	KindValidation: validation.KindValidation{
		{{with .KindValidation.Type}}Type: {{printf "%q" .}},{{end}}
		{{if .KindValidation.Nullable}}Nullable: true,{{end}}
	},
	{{end}}

	{{if .EnumValidation.Values}}
	EnumValidation: {{template "enum" .EnumValidation}},
	{{end}}

	{{if or .NumberValidation.Minimum .NumberValidation.Maximum .NumberValidation.ExactMultipleOf .NumberValidation.Format}}
	NumberValidation: {{template "numberValidation" .NumberValidation}},
	{{end}}

	{{if or .StringValidation.MinLength .StringValidation.MaxLength .StringValidation.Pattern .StringValidation.Format .StringValidation.CompiledPattern .StringValidation.CompiledFormat}}
	StringValidation: {{template "stringValidation" .StringValidation}},
	{{end}}

	{{if or .ArrayValidation.MinItems .ArrayValidation.MaxItems .ArrayValidation.Items}}
	ArrayValidation: {{template "arrayValidation" .ArrayValidation}},
	{{end}}

	{{if or .ObjectValidation.MinProperties .ObjectValidation.MaxProperties .ObjectValidation.Required .ObjectValidation.Properties .ObjectValidation.AdditionalPropertiesAllowed .ObjectValidation.AdditionalPropertiesValidation}}
	ObjectValidation: {{template "objectValidation" .ObjectValidation}},
	{{end}}

	{{with .AllOfValidations}}
	AllOfValidations: []*validation.Validation{
		{{range .}}{{template "validation" .}},{{end}}
	},
	{{end}}

	{{with .AnyOfValidations}}
	AnyOfValidations: []*validation.Validation{
		{{range .}}{{template "validation" .}},{{end}}
	},
	{{end}}
{{end}}

{{define "queryProperty"}}validation.QueryPropertyDefinition{
	Name: {{printf "%q" .Name}},
	{{with .ScalarType}}ScalarType: {{printf "%q" .}},{{end}}
	{{if .Array}}Array: true,{{end}}
}{{end}}

{{define "queryParameter"}}{
	Name: {{printf "%q" .Name}},
	Wire: {{.Wire}},
	{{with .Separator}}Separator: {{printf "%q" .}},{{end}}
	{{if .Required}}Required: true,{{end}}
	{{if .AllowEmpty}}AllowEmpty: true,{{end}}
	Validation: {{template "rootValidation" .Validation}},
	{{with .DefaultValue}}DefaultValue: json.RawMessage({{printf "%q" .}}),{{end}}
	{{with .ScalarType}}ScalarType: {{printf "%q" .}},{{end}}
	{{with .DynamicType}}DynamicType: {{printf "%q" .}},{{end}}
	{{with .Properties}}
	Properties: []validation.QueryPropertyDefinition{
		{{range .}}{{template "queryProperty" .}},{{end}}
	},
	{{end}}
}{{end}}

{{define "queryDecoder"}}validation.QueryDecoderDefinition{
	OperationID: {{printf "%q" .OperationID}},
	Parameters: []validation.QueryParameterDefinition{
		{{range .Parameters}}{{template "queryParameter" .}},{{end}}
	},
}{{end}}

{{define "pathProperty"}}validation.PathPropertyDefinition{
	Name: {{printf "%q" .Name}},
	{{with .ScalarType}}ScalarType: {{printf "%q" .}},{{end}}
}{{end}}

{{define "pathParameter"}}{
	Name: {{printf "%q" .Name}},
	Wire: {{.Wire}},
	{{if .Explode}}Explode: true,{{end}}
	Validation: {{template "rootValidation" .Validation}},
	{{with .ScalarType}}ScalarType: {{printf "%q" .}},{{end}}
	{{with .DynamicType}}DynamicType: {{printf "%q" .}},{{end}}
	{{with .Properties}}
	Properties: []validation.PathPropertyDefinition{
		{{range .}}{{template "pathProperty" .}},{{end}}
	},
	{{end}}
}{{end}}

{{define "pathDecoder"}}validation.PathDecoderDefinition{
	OperationID: {{printf "%q" .OperationID}},
	PathTemplate: {{printf "%q" .PathTemplate}},
	Parameters: []validation.PathParameterDefinition{
		{{range .Parameters}}{{template "pathParameter" .}},{{end}}
	},
}{{end}}

{{define "validate.go.tmpl"}}// Package {{.Package}} contains generated request validations.
//
//nolint:dupl,godoclint,lll,mnd // Generated validation trees use operation IDs and graph sizes.
package {{.Package}}

import (
	"encoding/json"

	"github.com/djosh34/klopt/pkg/jsonvalue"
	"github.com/djosh34/klopt/pkg/patternvalidator"
	"github.com/djosh34/klopt/pkg/validation"
)

var generatedValidations = func() []*validation.Validation {
	compiled := make([]*validation.Validation, {{len .Validations}})
	for index := range compiled {
		compiled[index] = new(validation.Validation)
	}

	{{range $index, $item := .Validations}}
	*compiled[{{$index}}] = validation.Validation{
		{{template "validationFields" $item}}
	}
	{{end}}

	return compiled
}()

{{range .Operations}}
var {{.Name}} = validation.RequestValidation{
	{{with .Body}}Body: {{template "rootValidation" .}},{{end}}
	{{with .Query}}Query: mustQueryDecoder({{template "queryDecoder" .}}),{{end}}
	{{with .Path}}Path: mustPathDecoder({{template "pathDecoder" .}}),{{end}}
}
{{end}}

// RequestValidations contains every compiled request validation by exact operation ID.
var RequestValidations = map[string]validation.RequestValidation{
	{{- range .Operations}}
	{{printf "%q" .OperationID}}: {{.Name}},
	{{end}}
}

{{if .HasQuery}}
func mustQueryDecoder(definition validation.QueryDecoderDefinition) *validation.QueryDecoder {
	decoder, err := validation.NewQueryDecoderFromGenerated(definition)
	if err != nil {
		panic(err)
	}

	return decoder
}
{{end}}

{{if .HasPath}}
func mustPathDecoder(definition validation.PathDecoderDefinition) *validation.PathDecoder {
	decoder, err := validation.NewPathDecoderFromGenerated(definition)
	if err != nil {
		panic(err)
	}

	return decoder
}
{{end}}
{{end}}
